@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  font-family: "Sora", sans-serif;
  color: #444;
  margin: auto;
  overflow-x: hidden;
}

::selection {
  background: #f04c23;
  color: white;
}

::-moz-selection {
  background: #f04c23;
  color: white;
}

::-webkit-selection {
  background: #f04c23;
  color: white;
}

.hideSrcoll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* overflow-y: scroll;
  overflow-x: scroll; */
}

.hideSrcoll::-webkit-scrollbar {
  /* display: none; */
  width: 8px;
  height: 8px;
}

.hideSrcoll::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.hideSrcoll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e45a28b3;
}
